# --------------------
# vim Files
# --------------------
*.swp

# --------------------
# compiled Files
# --------------------
*.pyc

# --------------------
# data scraping data
# --------------------
scrape/data
scrape/inserted
scrape/insert.out
scrape/output
