# --------------------
# vim Files
# --------------------
*.swp
*.swo

# --------------------
# compiled Files
# --------------------
*.pyc

# --------------------
# data scraping data
# --------------------
scrape/apikey.py
scrape/data
scrape/inserted
scrape/insert.out
scrape/output
scrape/populate.log

builds/lib/apikey.py
