.urf_footer{
    height: 60px;
    margin-top:100px;
    background-color:rgb(21,140,181);
}

.urf_footer_body{
    height: 100%;
}

.urf_footer_body p{
  float: left;
  margin-right:10px;
}

.urf_footer_text{
    position: relative;
    top: 30%;
    height: 100%;
    color:white;
    cursor: pointer;
}

.urf_footer_text:hover {
  color: white;
}

.urf-menu-button{
    padding-top:7px;
}

.urf-tab-content{
    padding-top: 0px;
}

.hidden{
    display:none;
}

.champ_img{
    margin-bottom:10px;
}

.champ_header{
    padding-left:20px;
    text-transform: uppercase;
}

.champ_panel{
    border-top-width: 1px;
}

.champ_stats{
    margin-left:-10;
    margin-right:-5;
}

.champ_progress{
    margin-bottom:0;
}

.progress .progress-bar{
    -webkit-transition: none !important;
    transition: none !important;
}

.urf_table_img_container{
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 7px;
}

.urf_table_img{
    max-height:100%;
}

.urf_table_name{
    float: left;
    verticle-align: middle;
    margin-bottom: 0px;
    padding-top: 4px;
}

.urf_table_head{
    cursor: pointer;
}

.urf_item_progress{
    margin-top:6px;
}

.arrow{
    position:absolute;
    margin-left:5px;
}

.urf_counter{
    font-weight: bold;
}

.item_tooltip > .tooltip-inner {
    text-align:left;
    max-width: 300px;
    min-width: 300px;
}


