{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class="jumbotron">
  <p>Welcome to prourfbuilds. We've gathered data from <span id="counter" class="urf_counter" value=800000>000000</span> real urf games to bring you statistically-backed, infallible champion builds. Go boldly into the future and dominate on any champion with these ultimate builds.</p>
</div>
<hr>

<h2>With whom are you paving the way?</h2>

<ul class="row text-center urf-row">
  {% for key, value in data.items %}
  <li class="col-sm-2 urf-li">
    <div>
      <a href="{% url 'champ_info' key %}">
        <img class="img img-thumbnail" src="{{ value.img_url }}"/>
        <p>{{ key }}</p>
      </a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
{% block child_js %}
<script src="{% static 'js/champions.js' %}"></script>
{% endblock %}
